.footer{
    background-color: $footer-background;
    color: $footer-color;
    padding: 40px 0;

    &__shield{
        height: 130px;
    }

    &__banner{
        max-width: 100%;
    }

    &__author{
        width: 80px;

        &-link{
            border: none;
        }
    }

    a{
        color: $footer-color;
        border-color: $footer-color;

        &:hover{
            color: $alpha-color;
            border-color: $alpha-color;
        }
    }

    p{
        color: $footer-color;
        line-height: 1em;
        font-size: 1em;
    }

    address{
        white-space: pre-line;
    }
}