.medica-home{
    position: relative;

    h1{
        @media (max-width: $screen-xs-max) {
            margin-top: 40px;
            margin-bottom: 70px;
            font-weight: 600;
        }
    }

    @media (min-width: $screen-sm-min) {
        margin: 100px 50px 100px 50px;
        padding: 50px 30px 30px 30px;
        border: 1px solid lighten($alpha-color, 40);
    }

    @media (min-width: $screen-md-min) {
        margin: 100px 100px 200px 100px;
        padding: 50px 30px 100px 30px;
    }

    @media (min-width: $screen-lg-min) {
        margin: 100px 180px 200px 180px;
    }

    &__title{

        @media (min-width: $screen-sm-min) {
            font-weight: 600;
            position: absolute;

            top: -40px;
            left: -70px;
            padding: 0 50px 50px 0;
            background-color: white;
        }

        @media (min-width: $screen-md-min) {
            left: -70px;
        }

        @media (min-width: $screen-lg-min) {
            left: -180px;
        }
    }

    main{

        @media (min-width: $screen-sm-min) {
            margin-bottom: 0;
            position: relative;
            left: -100px;
            background-color: white;
            padding: 20px 0 50px 0;
        }
    }

    &__socials{
        text-align: center;

        @media (min-width: $screen-sm-min) {
            text-align: left;
            position: absolute;
            bottom: -25px;
            left: 0px;
        }

        ul{
            padding-left: 0px;

            @media (min-width: $screen-sm-min) {
                padding-left: 40px;
            }

            li{
                color: lighten($alpha-color, 40);

                @media (min-width: $screen-sm-min) {
                    margin-right: 20px;
                }

                &:before{
                    padding: 0 5px;
                    background-color: white;
                }

                &:hover{
                    color: $alpha-color;
                }
            }
        }
    }

    &__feature-img{
        display: none;

        @media (min-width: $screen-md-min) {
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;

            right: 52px;
            position: absolute;

            width: 280px;
            height: 180px;
            bottom: -100px;
        }

        @media (min-width: $screen-lg-min) {
            width: 350px;
            height: 220px;
            bottom: -110px;
        }

    }
}