.menu{

    &__button{
        position: relative !important;
        opacity: 1 !important;
        border: none;

        &:hover{
            .line{
                margin: 0px 20px;
            }
        }

        .text{
            transition: .25s ease-in-out;
        }

        .line{
            display: block;
            position: absolute;
            background-color: white;

            height: 3px;

            opacity: 1;
            margin: 5px 20px 0 20px;
            left: 0;
            right: 0px;

            transform: rotate(0deg);
            transition: .25s ease-in-out;
            transform-origin: bottom center;
        }

        &.open{
            .text{
                height: 0%;
                opacity: 0;
            }

            .line{
                opacity: 1;
                width: 40px;
                margin: 5px 20px 0 20px;
                top: 20px;

                &--one {
                    transform: rotate(45deg);
                }

                &--two {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}