$default-background: #FFF;

$highlight: #94335c;

$header-background: #f9f9f9;

$menu-background: rgba(148, 51, 92, 0.95);

$footer-background: #2b2b2b;

$social-media-menu: #cacaca;

$text: #6e6e6e;
