.main-menu{
    a{
        border: none;
        &:hover{
            border-bottom: 1px solid white;
        }
    }

    &__shield{
        height: 130px;
        margin-bottom: 50px;
    }

    &__primary {
        margin-bottom: 90px;
        ul {
            list-style-type: none;
            &.menu {
                text-transform: capitalize;
                li {
                    a {
                        font-size: 1.5em;
                        font-weight: 500;
                    }
                }
            }

            &.sub-menu {
                //text-transform: lowercase;
                li {
                    a {
                        font-size: 1.2em;
                        font-weight: 100;
                    }
                }
            }

            li {
                a {
                    color: white;
                    line-height: 2.2em;
                    transition: .25s ease-in-out;
                }
            }
        }
    }

    &__social{
        margin-bottom: 50px;
    }
}