/* Columns CPT Events */

//th#tf_col_ev_date, th#tf_col_ev_cat {width:150px}
//td.tf_col_ev_date em {color:gray;}
//th#tf_col_ev_times {width:150px}
//th#tf_col_ev_thumb {width:100px}

.clear{
    clear: both;
}

.ui-datepicker-trigger{
    border:none;
    background:none;
}

/* Metabox */

.tf-meta {
    ul{
        li{
            height: 20px;
            clear:both;
            margin: 0 0 15px 0;

            label{
                width: 150px;
                display:block;
                float:left;
                padding-top:4px;
            }

            input{
                width: 400px;
                display:block;
                float:left;
            }

            em{
                width: 200px;
                display:block;
                float:left;
                color:gray;
                margin-left:10px;
                padding-top: 4px
            }
        }
    }
}

