$alpha-color: #6e6e6e;
$beta-color: #94335c;
$delta-color: #f9f9f9;

$transparent-delta-color: rgba(249, 249, 249, 0.9);

$light-alpha-color: #ebebeb;
$dark-alpha-color: #2f2f2f;

$default-background: #FFF;
$menu-background: rgba(148, 51, 92, 0.95);
$footer-background: #2b2b2b;
$footer-color: #555555;

$social-media-menu: #cacaca;






