.navbar{
    transition: .25s ease-in-out;

    &.menu-open{
        background-color: $menu-background;

        .navbar-header{
            &.scrolling-class{
                .navbar-link{
                    color: white;
                }

                .medica-logo{
                    .font-style{
                        fill: white;
                    }
                }

                .line{
                    background-color: white;
                }
            }
        }
    }

    &-header{
        &.scrolling-class{
            .navbar-link{
                color: $highlight;
            }

            .medica-logo{
                .font-style{
                    fill: $highlight;
                }
            }

            .line{
                background-color: $highlight;
            }
        }
    }

    &-link{
        font-size: 1.3em;
        padding-left: 20px !important;
        padding-right: 20px !important;
        text-decoration: none;
        transition: .25s ease-in-out;
    }

    &-link{
        color: white;
        opacity: 0.4;

        &:hover, &:active, &:focus{
            background-color: transparent !important;
            color: white;
            opacity: 1;
        }
    }

}

.medica-logo{
    .font-style{
        fill: white;
        transition: .25s ease-in-out;
    }
}