/*
 * Navigation header
 */
.navbar{
    &-brand {
        font-size: 24px;

        &.fixed-theme {
            font-size: 18px;
        }
    }

    &-container {
        padding: 20px 0 20px 0;

        &.fixed-theme {
            padding: 0;
        }
    }

    &-fixed-top{
        background-color: $header-background;

        &.fixed-theme {
            background-color: $default-background;
            border-color: #080808;
            box-shadow: 0 0 5px rgba(0,0,0,.8);
        }
    }
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}