/*
 * Navigation header
 */
.navbar{
    &-brand {
        font-size: 24px;

        &.scrolling-class {
            font-size: 18px;
        }
    }

    &-container {
        padding: 30px 0 30px 0;

        &.scrolling-class {
            padding: 10px 0;
        }
    }

    &-fixed-top{
        background-color: transparent;

        &.scrolling-class {
            background-color: $header-background;
            box-shadow: 1px 1px 1px rgba(0,0,0,.1);
        }
    }
}

.navbar-brand.scrolling-class,
.navbar-container.scrolling-class,
.navbar.navbar-fixed-top.scrolling-class,
.navbar-brand,
.navbar-container{
    transition: 0.8s all;
}