.medica-workgroup{
    padding: 85px 20px;

    &__text{
        margin-bottom: 10px;
        p{
            margin: 0px;
        }
    }

    &__title{
        color: $beta-color;
        font-size: 1.4em;
        font-weight: 600;
    }


    &__holder{
        color: blue;
        &:not(.owl-loaded){
            display: block;
            .medica-workgroup{
                display: none;
                &:first-child{
                    display: block;
                }
            }
        }
    }
}