.social-media-widget{
    position: relative;
    width: 100%;

    &:hover{
       .social-media-widget__overlay, .fa{
           color: white;
           opacity: 1;
       }
    }

    .fa{
        position: absolute;
        z-index: 9;
        font-size: 1.4em;
        top: 10px;
        left: 10px;
        color: white;
        opacity: 0.5;
        transition: all 0.25s ease-in-out;

        &-facebook{
            color: $alpha-color;
        }
    }

    &__item, &__overlay{
        padding: 0px;
        height: 160px;
    }

    &__item{
        &--image{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        &--text{
            padding: 10px 40px 40px 40px;
        }
    }

    &__date{
        color: lighten($alpha-color, 30);
        font-size: .9em;
        margin-bottom: 20px;
    }

    &__text{
        font-size: .9em;
        overflow: hidden;
        max-height: 87px;
    }


    &__title{
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__link{
        a{
            color: white;
            border-color: white;
        }
    }

    &__cell{
        display: table-cell;
        vertical-align: middle;
    }

    &__overlay{
        transition: all 0.25s ease-in-out;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        display: table;
        color: white;

        &--instagram{
            /**
            Instagram coloring
         */
            background:
                /////// Use radial gradients to get the rounded
                /////// gradient effect in each corner

                // left bottom
                radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
                radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
                    // left top
                radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
                radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
                    //  right top
                radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
                radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
                    // right bottom
                radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

                    /////// create a base coat to smooth
                    /////// corner gradients
                linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        }

        &--facebook{
            background-color: #3b5998;
        }
    }
}