.medica-carousel{

    position: relative;
    z-index: 0;

    &__parallax{
        position: relative;
        background-color: white;
    }

    &--sliding{

        &:before{
            content: "";
            display: block;
            background: $beta-color;
            position: absolute;
            height: 0px;
            z-index: 9;
            bottom: 0px;
            width: 100%;
            animation: carouselSliding .5s; // Make it double of owl-carousel animation
            animation-timing-function: linear;
        }
    }

    &__holder{

        // Carousel fade speed
        &.owl-carousel{
            .animated {
                animation-duration: 500ms;
                animation-timing-function: linear;

            }
        }

        // Initializing the owl carousel
        &:not(.owl-loaded){
            display: block;
            .medica-carousel__item{
                display: none;
                &:first-child{
                    display: block;
                }
            }
        }

        .owl-dots{
            display: block;
            position: absolute;
            right: 20px;
            top: 0px;
            padding-top: 15%;
            bottom: 0px;
            z-index: 999;

            .owl-dot{
                color: white;

                &:before{
                    content: "\f10c";
                    font-family: FontAwesome;
                }

                &.active{
                    &:before{
                        content: "\f111";
                    }
                }

            }
        }
    }

    &--condensed{
        .medica-carousel{
            &__item{
                height: 480px;
                padding-top: 140px;
            }

            &__holder{
                .owl-dots{
                    padding-top: 10%;
                }
            }
        }
    }

    &__item{
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        position: relative;

        height: 650px;

        padding-top: 240px;

        &--filter{

            &:before{
                position: absolute;
                content: "";
                display: block;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;

                background: linear-gradient(rgba(148, 51, 92, 0.45), rgba(148, 51, 92, 0.45));
            }
        }
    }

    &__title{
        color: white;
        font-size: 3em;
        font-weight: 600;
        margin-bottom: 20px;
        opacity: 0;
    }

    &__sub-title{
        margin-bottom: 40px;


        span{
            background: linear-gradient(to left, transparent 50%, white 50%);
            background-size: 200% 100%;
            background-position:right bottom;
            color: transparent;
            padding: 5px 30px;
            font-size: 1.1em;
        }
    }

    &__link{

        opacity: 0;

        a{
            color: white;
            border-color: white;

        }

    }

    .owl-item{
        &.medica-carousel__item--activate{
            .medica-carousel__title{
                animation: carouselTitle 1s forwards;
            }

            .medica-carousel__sub-title span{
                animation: carouselSubTitle 1s forwards;
            }

            .medica-carousel__link{
                animation: carouselLink 1s forwards;
            }
        }
    }
}


/**

    KEYFRAMES

 */
@keyframes carouselSliding{
    0%{
        height: 0%;
        bottom: 0%;
    }

    40%{
        height: 100%;
        bottom: 0%;
    }

    70%{
        height: 100%;
        bottom: 0%;
    }

    100%{
        height: 0%;
        bottom: 100%
    }
}


@keyframes carouselTitle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes carouselSubTitle {
    0% {
        color: transparent;
        background-position:right bottom;
    }

    100% {
        color: $beta-color;
        background-position:left bottom;
    }
}

@keyframes carouselLink {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


// Do not rename -- Owl carousel name
@keyframes fadeOut {
    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
