input{
    color: $alpha-color;
    font-size: 1.2em;
    padding: 10px;

    &::placeholder{
        color: lighten($alpha-color, 40);
    }


    &[type='submit'], button{
        border-color: $beta-color;
        background-color: $beta-color;
        transition: all 0.25s ease-in-out;
        color: white;

        box-shadow: none;
        border: none;

        &:hover, &:focus{
            background-color: lighten($beta-color, 10);
        }

        &:active{
            background-color: darken($beta-color, 10);
        }
    }
}


.medica-select{
    display: inline-block;
    position: relative;

    select{
        color: $beta-color;
        border: 1px solid $alpha-color;
        background-color: transparent;
        border-radius: 0px;
        appearance: none;
        padding: 5px 25px 5px 10px;
    }

    &:after{
        content: "\f107";
        font-family: FontAwesome;
        position: relative;
        left: -22px;
    }
}

.parsley-error{
    //background-color: rgb(255, 165, 156);
}

.parsley-errors-list{
    text-align: right;

    list-style-type: none;
}